html {
	font-size:1.5vw;
	@media (max-width:$mobile){
		font-size:2.2vw; 
	}	
}
body {
	font: 100%/1.2 sans-serif;
	font-family:$font_name , arial , sans-serif;
	font-size:$runner;
	font-weight: $fw-light;
	background-color:#fff;
	color:$c-dark;
	direction: ltr;
	@media (max-width:$fold-1){
		font-size: calc( .8vw + 6px);
	} 
	@media (max-width:$tablet){
		font-size: calc( 1vw + 6px);
	}	
	@media (max-width:$mobile){
		font-size: 4.25vw;
	}

}
#wrapper {
	overflow: hidden;
	direction: $dir; 
}
@media (max-width:$grid + ($pad * 2)){
	img {
		max-width: 100%;
	}
}

.loading-ring {
	display: inline-block;
	width: 44px;
	height: 44px;
}

.loading-ring:after {
	content: " ";
	display: block;
	width: 26px;
	height: 26px;
	margin: 1px;
	border-radius: 50%;
	border: 4px solid $c1;
	border-color: $c1 transparent $c1 transparent;
	animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
