.tips-list {
	margin: runner(-$pad/4);
	.slick-track {
		@extend %l-flex;
	}
	.tips-item {
		float: none !important;
		height: auto;
		@extend %l-f1;
	}
}
.slider-btn {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: runner(13); 
	height: runner(21);
	z-index: 9;
	&.is-prev {
		#{$right}: runner(-50);
	}
	&.is-next {
		#{$left}: runner(-50);
	}
	&:hover {
		polygon {
			fill: $c1 !important;
		}
	}
}

.tips-item-in {
	padding: runner($pad-small + 31) runner($pad-small) runner($pad-small);
}
.tips-item-text {
	padding: runner(40) runner($pad/2) runner(30);
	position: relative;
	margin: 0 0 runner($pad2);
	&:before , &:after {
		content: "";
		background: #fff;
	}
	&:before {
		@extend %l-spread;
		border-radius: runner($rad);
		@extend %t-shadow;
	}
	.top-tip {
		top: 100%;
		bottom: auto;
	}
}
.tips-item-imge {
	overflow: hidden;
	width: runner(62);
	height: runner(62);
	position: absolute;
	top: runner(-32);
	left: 0;
	right: 0;
	border-radius: 500px;
	border: runner(5) solid #fff;
	background-color: #fff;
	img {
		max-width: 100%;
	}
}
.tips-item-qt {
	margin: 0 0 em($fs-small,$pad/2);
	.qt-mark {
		display: inline-block;
		svg {
			width: 100%;
		}
	}
	.icon-q-t {
		vertical-align: text-top;
		margin-#{$left} : em($fs-small,4);
	}
	.icon-q-b {
		vertical-align: text-bottom;
		margin-#{$right} : em($fs-small,2);
	}
}

@media (max-width: 1220px){
	.tips-list {
		margin: runner($pad);
	}
}

@media (max-width: $mobile ){
	.tips-list {
		margin: 0;
	}
	.tips-item-text {
		margin-bottom: runnerMobile(50);
	}
	.tips-item-meta-name {
		font-size: runnerMobile(30);
	} 
	.has-slider {
		position: relative;
		&:before , &:after {
			content:"";
			height: 100%;
			width: 3em;
			z-index: 3;
			position: absolute;
			top: 0;
		}
		&:before {
			#{$right}: 0;
			background: linear-gradient(to $right, rgba(223,233,240,0) 0%,rgba(223,233,240,1) 100%);
		}
		&:after {
			#{$left}: 0;
			background: linear-gradient(to $left, rgba(223,233,240,0) 0%,rgba(223,233,240,1) 100%);
		}
		> .t-grid {
			padding: 0;
		}
		.slider-btn {
			width: runnerMobile(22);
			&.is-prev {
				#{$right}: runnerMobile(21);
			}
			&.is-next {
				#{$left}: runnerMobile(21);
			}
			svg {
				height: 100%;
				width: 100%;
			}
		}

	}
	.tips-ratings {
		display: block;
		.t-bullet {
			margin: 0;
		}
		strong {
			display: block;
		}
	}

}

