.icon-arr-up { 
	width : runner( 47 );
	height : runner( 39 );
}
.icon-avater { 
	width : runner( 65 );
	height : runner( 65 );
}
.icon-b-arr { 
	width : runner( 9 );
	height : runner( 14 );
}
.icon-chat { 
	width : runner( 98 );
	height : runner( 202 );
}
.icon-clock { 
	width : runner( 16 );
	height : runner( 16 );
}
.icon-dots { 
	width : runner( 20 );
	height : runner( 20 );
}
.icon-drop-b { 
	width : runner( 12 );
	height : runner( 7 );
}
.icon-drop-w { 
	width : runner( 12 );
	height : runner( 7 );
}
.icon-fb { 
	width : runner( 15 );
	height : runner( 31 );
}
.icon-filter { 
	width : runner( 25 );
	height : runner( 25 );
}
.icon-form-chat { 
	width : runner( 195 );
	height : runner( 317 );
}
.icon-form-sep-mobile { 
	width : runner( 668 );
	height : runner( 26 );
}
.icon-form-sep { 
	width : runner( 12 );
	height : runner( 317 );
}
.icon-forum-x { 
	width : runner( 15 );
	height : runner( 15 );
}
.icon-full-screen { 
	width : runner( 16 );
	height : runner( 16 );
}
.icon-g-arr { 
	width : runner( 55 );
	height : runner( 48 );
}
.icon-gp { 
	width : runner( 47 );
	height : runner( 31 );
}
.icon-heart-white { 
	width : runner( 47 );
	height : runner( 39 );
}
.icon-heart { 
	width : runner( 53 );
	height : runner( 44 );
}
.icon-intro-bg { 
	width : runner( 1705 );
	height : runner( 233 );
}
.icon-like { 
	width : runner( 51 );
	height : runner( 67 );
}
.icon-note { 
	width : runner( 25 );
	height : runner( 26 );
}
.icon-play { 
	width : runner( 88 );
	height : runner( 62 );
}
.icon-plus-negative { 
	width : runner( 14 );
	height : runner( 14 );
}
.icon-plus-white { 
	width : runner( 14 );
	height : runner( 14 );
}
.icon-plus { 
	width : runner( 14 );
	height : runner( 14 );
}
.icon-print-grey { 
	width : runner( 15 );
	height : runner( 15 );
}
.icon-print { 
	width : runner( 15 );
	height : runner( 15 );
}
.icon-q-b { 
	width : runner( 19 );
	height : runner( 18 );
}
.icon-q-t { 
	width : runner( 19 );
	height : runner( 18 );
}
.icon-q { 
	width : runner( 20 );
	height : runner( 20 );
}
.icon-s-arr { 
	width : runner( 9 );
	height : runner( 16 );
}
.icon-search-mobile { 
	width : runner( 40 );
	height : runner( 40 );
}
.icon-search { 
	width : runner( 18 );
	height : runner( 18 );
}
.icon-sep-form { 
	width : runner( 195 );
	height : runner( 317 );
}
.icon-slider-arr-left { 
	width : runner( 13 );
	height : runner( 21 );
}
.icon-slider-arr-right { 
	width : runner( 13 );
	height : runner( 21 );
}
.icon-social-email { 
	width : runner( 38 );
	height : runner( 38 );
}
.icon-social-facebook { 
	width : runner( 38 );
	height : runner( 38 );
}
.icon-social-whatsapp { 
	width : runner( 38 );
	height : runner( 38 );
}
.icon-spinner { 
	width : runner( 128 );
	height : runner( 128 );
}
.icon-star-active { 
	width : runner( 18 );
	height : runner( 18 );
}
.icon-star-inactive { 
	width : runner( 18 );
	height : runner( 18 );
}
.icon-switch { 
	width : runner( 16 );
	height : runner( 14 );
}
.icon-up { 
	width : runner( 50 );
	height : runner( 50 );
}
.icon-v-white { 
	width : runner( 17 );
	height : runner( 14 );
}
.icon-v { 
	width : runner( 17 );
	height : runner( 14 );
}
.icon-w-arr { 
	width : runner( 9 );
	height : runner( 16 );
}
.icon-x { 
	width : runner( 14 );
	height : runner( 14 );
}
.icon-yt { 
	width : runner( 31 );
	height : runner( 30 );
}
